<nav class="bg-blue-500 flex items-center justify-between p-4">
  <div class="hidden md:block">
    <h1 class="text-3xl text-slate-100">
      Welcome <%= user.username %>
    </h1>
  </div>
  <div class="text-slate-100">
    <ul class="flex items-center align-middle">
      <li>
        <a class="hover:bg-blue-700 transition-all duration-150 ease-in-out rounded-md p-4" href="/admin_dashboard">
          Overview
        </a>
      </li>
      <li>
        <a class="hover:bg-blue-700 transition-all duration-150 ease-in-out rounded-md p-4" href="/admin_dashboard/users">
          Users
        </a>
      </li>
      <li>
        <a class="hover:bg-blue-700 transition-all duration-150 ease-in-out rounded-md p-4" href="/admin_dashboard/projects">
          Projects
        </a>
      </li>
    </ul>
  </div>
  <div>
    <form action="/admin_dashboard/logout" method="get">
      <button class="p-3 bg-blue-600 hover:bg-blue-700 hover:shadow-md transition-all duration-150  text-slate-100 rounded-md text-xl" type="submit">
        Logout
      </button>
    </form>
  </div>
</nav>
