<nav class="bg-blue-500 dark:bg-blue-900 text-xl flex items-center justify-between p-4">
  <div class="hidden md:block">
    <h1 class="text-slate-100">
      Welcome <%= user.username %>
    </h1>
  </div>
  <div class="text-slate-100 hidden md:block">
    <ul class="flex items-center align-middle">
      <li class="mr-2 md:mr-4">
        <a class="hover:bg-blue-700 hover:shadow-md bg-blue-500 dark:bg-blue-900 dark:hover:bg-blue-800 p-2 rounded-md" href="/admin_dashboard">
          Dashboard
        </a>
      </li>
      <li class="mr-2 md:mr-4">
        <a class="hover:bg-blue-700 hover:shadow-md bg-blue-500 dark:bg-blue-900 dark:hover:bg-blue-800 p-2 rounded-md" href="/admin_dashboard/users">
          Users
        </a>
      </li>
      <li class="mr-2 md:mr-4s">
        <a class="hover:bg-blue-700 hover:shadow-md bg-blue-500 dark:bg-blue-900 dark:hover:bg-blue-800 p-2 rounded-md" href="/admin_dashboard/projects">
          Projects
        </a>
      </li>
    </ul>
  </div>
  <div>
    <form action="/admin_dashboard/logout" method="get">
      <button class="p-2 bg-blue-600 hover:bg-blue-700 hover:shadow-md transition-all duration-150 text-sm md:text-xl  text-slate-100 rounded-md" type="submit">
        Logout
      </button>
    </form>
  </div>
  <button id="toggleBtn" class="block md:hidden">
    <img src="/images/hamburger.svg" class="w-8 dark:invert" alt="hamburger">
  </button>
</nav>

</nav>
<!-- mobile nav --> 
<div id="mobileNav" class="bg-white dark:bg-gray-700 text-slate-800 font-medium dark:text-slate-100 w-full mb-2 hidden md:hidden">
 <ul class="w-full text-center">
   <a href="/admin_dashboard">
     <li class="block border-b-2 dark:border-b-gray-800 py-2">
       Dashboard
     </li>
   </a>
   <a href="/admin_dashboard/users">
     <li class="block border-b-2 dark:border-b-gray-800 py-2">
       Users
     </li>
   </a>
   <a href="/admin_dashboard/projects">
     <li class="block border-b-2 dark:border-b-gray-800 py-2">
       Projects
     </li>
   </a>
 </ul>
</div>


<script>
 document.addEventListener('DOMContentLoaded', function () {
     var toggleBtn = document.getElementById('toggleBtn');
     var mobileNav = document.getElementById('mobileNav');

     toggleBtn.addEventListener('click', function () {
         mobileNav.classList.toggle('hidden');
         toggleBtn.firstChild.classlist.toggle('rotate-90');
     });
 });
 const toggleDarkMode = () => {
      const htmlElement = document.documentElement;
      htmlElement.classList.toggle('dark');

      // Store the dark mode state in local storage
      const isDarkMode = htmlElement.classList.contains('dark');
      localStorage.setItem('darkMode', isDarkMode);
    };

    // Check local storage for dark mode preference on page load
    document.addEventListener('DOMContentLoaded', () => {
      const isDarkMode = localStorage.getItem('darkMode') === 'true';

      if (isDarkMode) {
        document.documentElement.classList.add('dark');
      }
    });
</script>
