<nav class="bg-blue-500 text-xl flex items-center justify-between p-4">
  <div class="hidden md:block">
    <h1 class="text-slate-100">
      Welcome <%= user.username %>
    </h1>
  </div>
  <div class="text-slate-100">
    <ul class="flex items-center align-middle">
      <li class="mr-2 md:mr-4">
        <a class="hover:bg-blue-700 hover:shadow-md bg-blue-500 transition-all duration-150 ease-in-out p-2 rounded-md" href="/admin_dashboard">
          Overview
        </a>
      </li>
      <li class="mr-2 md:mr-4">
        <a class="hover:bg-blue-700 hover:shadow-md bg-blue-500 transition-all duration-150 ease-in-out p-2 rounded-md" href="/admin_dashboard/users">
          Users
        </a>
      </li>
      <li class="mr-2 md:mr-4s">
        <a class="hover:bg-blue-700 hover:shadow-md bg-blue-500 transition-all duration-150 ease-in-out p-2 rounded-md" href="/admin_dashboard/projects">
          Projects
        </a>
      </li>
    </ul>
  </div>
  <div>
    <form action="/admin_dashboard/logout" method="get">
      <button class="p-2 bg-blue-600 hover:bg-blue-700 hover:shadow-md transition-all duration-150  text-slate-100 rounded-md" type="submit">
        Logout
      </button>
    </form>
  </div>
</nav>
