<nav class="bg-blue-500 dark:bg-blue-800 flex items-center justify-between p-4 text-slate-100">
    <h1 class="text-xl">
    Evidento Chat 
    </h1>
    <a href="/chat/exit_chat" class="hover:bg-blue-700 hover:shadow-md bg-blue-500 transition-all duration-150 ease-in-out p-2 rounded-lg">
        Exit chatroom
    </a>
</nav>

<script>
    const toggleDarkMode = () => {
      const htmlElement = document.documentElement;
      htmlElement.classList.toggle('dark');

      // Store the dark mode state in local storage
      const isDarkMode = htmlElement.classList.contains('dark');
      localStorage.setItem('darkMode', isDarkMode);
    };

    // Check local storage for dark mode preference on page load
    document.addEventListener('DOMContentLoaded', () => {
      const isDarkMode = localStorage.getItem('darkMode') === 'true';

      if (isDarkMode) {
        document.documentElement.classList.add('dark');
      }
    });
</script>