<nav class="bg-blue-400 flex items-center justify-between p-4 text-white">
    <h1 class="md:text-3xl text-2xl">
    Evidento Chat 
    </h1>
    <a href="/chat/exit_chat" class="md:text-xl hover:bg-blue-700 hover:shadow-md bg-blue-500 transition-all duration-150 ease-in-out p-4 rounded-md">
        Exit chatroom
    </a>
</nav>