<nav class="bg-blue-500 flex text-xl items-center justify-between p-4">
    <div class="hidden md:block">
      <h1 class="text-slate-100">
        Welcome <%= user.firstName %>
      </h1>
    </div>
    <div class="text-slate-100 hidden md:block">
      <ul class="flex items-center align-middle">
        <li class="mr-2 md:mr-4">
          <a class="hover:bg-blue-700 hover:shadow-md bg-blue-500 text-sm md:text-xl transition-all duration-150 ease-in-out p-2  rounded-lg" href="/project_manager_dashboard">
            Dashboard
          </a>
        </li>
        <li class="mr-2 md:mr-4">
          <a class="hover:bg-blue-700 hover:shadow-md bg-blue-500 text-sm md:text-xl transition-all duration-150 ease-in-out p-2  rounded-lg" href="/project_manager_dashboard/projects">
            Create Project
          </a>
        </li>
        <li class="mr-2 md:mr-4">
          <a class="hover:bg-blue-700 hover:shadow-md bg-blue-500 text-sm md:text-xl transition-all duration-150 ease-in-out p-2  rounded-lg" href="/project_manager_dashboard/chat">
            Chat
          </a>
        </li>
      </ul>
    </div>
    <div>
      <form action="/project_manager_dashboard/logout" method="get">
        <button class="p-2 bg-blue-600 hover:bg-blue-700 hover:shadow-md transition-all text-sm md:text-xl duration-150 text-slate-100 rounded-lg" type="submit">
          Logout
        </button>
      </form>
      
    </div>
    <button id="toggleBtn" class="block md:hidden">
      <img src="/images/hamburger.svg" class="w-8" alt="hamburger">
    </button>
  </nav>
   <!-- mobile nav --> 
   <div id="mobileNav" class="bg-white w-full hidden md:hidden">
    <ul class="w-full text-center">
      <a href="/project_manager_dashboard">
        <li class="block border-b-2 py-2">
          Dashboard
        </li>
      </a>
      <a href="/project_manager_dashboard/projects">
        <li class="block border-b-2 py-2">
          Create project
        </li>
      </a>
      <a href="/project_manager_dashboard/chat">
        <li class="block border-b-2 py-2">
          Chat
        </li>
      </a>
    </ul>
  </div>
  

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var toggleBtn = document.getElementById('toggleBtn');
        var mobileNav = document.getElementById('mobileNav');

        toggleBtn.addEventListener('click', function () {
            mobileNav.classList.toggle('hidden');
            toggleBtn.firstChild.classlist.toggle('rotate-90');
        });
    });
</script>
