<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Evidento - Admin</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>    
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
  </head>
  <body class="font-montserrat">


    <%- include('partials/_adminNav', { user: user }) %>

    <div class="px-8">
      <h1 class="text-5xl md:text-7xl text-center my-8">
        General overview
      </h1>
      <div class="text-2xl md:text-3xl text-center">
        <p>
          Total users: <%= userCount.count %>
        </p>
        <p>
          Total projects:  <%= projectCount.count %>
        </p>
      </div>
    </div>
    
    
  </body>
</html>
