<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>401</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>    
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body class="bg-slate-100">
    <div class="m-12 rounded-lg">
        <img src="/images/401.svg" class="md:w-4/12  mx-auto">
    </div>
    
    <p class="p-4 md:text-3xl text-xl text-center">
        <%= errorMessage %>
    </p>
</body>
</html>