<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>    
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <title>Evidento</title>
</head>
<body class="bg-slate-200 font-montserrat">
    
    <div class="my-14 px-6">
        <h1 class="text-5xl font-semibold my-4 text-center decoration-dotted underline decoration-blue-500 underline-offset-8">
            Evidento
        </h1>
        <p class="text-2xl font-medium mb-12 text-center">
            The project management system of your dreams
        </p>
    </div>
   

    <div class="grid grid-cols-1 px-8 md:grid-cols-2 md:mx-8">
        <div class="mx-auto">
            <img src="/images/home.svg" class="w-40 md:w-auto" alt="Landing page image">
        </div>

        <div class="rounded-md font-medium mt-12 md:mt-0 md:mx-auto">
            <div class="text-xl transition-all p-2 md:p-8">
                <h1 class="mb-12 text-3xl">Login</h1>
                <form action="/login" method="post" class="text-center">
                    <input class="md:mb-2 mb-6 px-2 py-1 rounded-sm mx-auto block" placeholder="Username" required name="username" type="text">
                    <input class="md:mb-2 mb-6 px-2 py-1 rounded-sm mx-auto block" placeholder="Password" required name="password" type="password" >
                    <button class="block mx-auto text-2xl hover:bg-blue-800 duration-200 hover:shadow-lg bg-blue-500 text-slate-100 rounded-lg my-4 px-4 py-2 ">Login</button>
                </form>
            </div>
    </div>

    </div>


    
    

</body>
</html>